{% extends 'layout.html' %} {% block title %} Dark Jokes {% endblock title %} {%
block body %}
<h1>Dark Jokes</h1>

<hr />
{% for joke in jokes %}
<div>
  <p>{{ joke.joke }}</p>
  <p>Posted by: {{ joke.user.username }} on {{ joke.date }}</p>

  <form
    action="{{ url_for('like_joke', joke_id=joke.id) }}"
    method="post"
    style="display: inline"
  >
    <button type="submit" class="btn btn-primary">
      Like ({{ joke.likes }})
    </button>
  </form>
  <form
    action="{{ url_for('dislike_joke', joke_id=joke.id) }}"
    method="post"
    style="display: inline"
  >
    <button type="submit" class="btn btn-danger">
      Dislike ({{ joke.dislikes }})
    </button>
  </form>
  <a
    href="{{ url_for('reply_dark_joke', joke_id=joke.id) }}"
    class="btn btn-info"
  >
    Replies
  </a>
  <hr />
</div>
{% endfor %}
<form method="POST" action="">
  {{ form.hidden_tag() }} {{ form.joke.label }} {{
  form.joke(class="form-control", placeholder="Write your joke here") }} {{
  form.submit(class="btn btn-primary") }}
</form>
{% endblock body %}
