{% extends 'layout.html' %} {% block title %} Login {% endblock title %} {%
block head %} {{ super() }}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/style.css') }}"
/>
{% endblock head %} {% block body %}
<div class="main">
  <p align="center" class="sign">Login Page</p>
  <form class="form1" method="POST" action="">
    {{form.hidden_tag() }} {{ form.username_email }} <br />
    {{form.password}} <br />
    {{form.submit}}
  </form>
  <a align="center" class="forgot" href="{{url_for('register')}}"
    >Dont have an Account? Sign-up</a
  >
</div>

{% endblock body %}
