{% extends 'layout.html' %} {% block title %} Normal Jokes {% endblock title %}
{% block body %}
<a href="{{ url_for('dashboard') }}" class="btn btn-primary"
  >Back to Dashboard</a
>
<h1 align="center">Normal Jokes</h1>
<div class="writejoke">
  <form method="POST" action="">
    {{ form.hidden_tag() }} {{ form.joke.label }} {{
    form.joke(class="form-control", placeholder="Write your joke here") }} {{
    form.submit(class="btn btn-primary") }}
  </form>
</div>
<hr />
{% for joke in jokes %}
<div class="jokecard">
  <p class="writername">{{ joke.user.username }}</p>
  <p class="postdate">Posted on: {{ joke.date.strftime('%d/%m/%Y') }}</p>
  <div class="jokecont">
  <p class="jokedesc">{{ joke.joke }}</h>

  {% if current_user.is_authenticated and joke.user_id == current_user.id %}
  <form
    method="POST"
    action="{{ url_for('delete_joke', joke_id=joke.id) }}"
    onsubmit="return confirm('Are you sure you want to delete this joke?');"
  >
    <button type="submit" class="delbtn">Delete</button>
  </form>
  {% endif %}
  <!-- Like button with like count -->
  <form
    id="like-form-{{ joke.id }}"
    action="{{ url_for('like_joke', joke_id=joke.id) }}"
    method="post"
    style="display: inline"
  >
    <button type="button" class="likebtn" data-joke-id="{{ joke.id }}">
      Like
    </button>
  </form>

  <form
    id="dislike-form-{{ joke.id }}"
    action="{{ url_for('dislike_joke', joke_id=joke.id) }}"
    method="post"
    style="display: inline"
  >
    <button type="button" class="dislikebtn" data-joke-id="{{ joke.id }}">
      Dislike 
    </button>
  </form>

  <a href="{{ url_for('reply_joke', joke_id=joke.id) }}" class="repbtn"
    >Replies</a
  >
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $(".like-btn").click(function (e) {
      e.preventDefault();
      var jokeId = $(this).data("joke-id");
      var form = $("#like-form-" + jokeId);
      $.ajax({
        type: form.attr("method"),
        url: form.attr("action"),
        success: function (response) {
          // Update the like count on the button
          var likeCount = response.likes;
          $("#like-form-" + jokeId + " .btn-primary").html(
            "Like (" + likeCount + ")"
          );
        },
      });
    });
  });

  $(document).ready(function () {
    $(".dislike-btn").click(function (e) {
      e.preventDefault();
      var jokeId = $(this).data("joke-id");
      var form = $("#dislike-form-" + jokeId);
      $.ajax({
        type: form.attr("method"),
        url: form.attr("action"),
        success: function (response) {
          // Update the dislike count on the button
          var dislikeCount = response.dislikes;
          $("#dislike-form-" + jokeId + " .btn-danger").html(
            "Dislike (" + dislikeCount + ")"
          );
        },
      });
    });
  });
</script>

{% endfor %} {% endblock body %}
